torch --index-url https://download.pytorch.org/whl/cu128
beautifulsoup4
pandas
ipywidgets
pymystem3
scikit-learn
selenium
wordcloud
undetected-chromedriver
transformers
keybert
nltk
flask
